.task{
    border-radius: 5px;
    border: 1px solid #939697;
    background-color: #c5e1e6;
    height: 50px;
 
}

.task button{
    background-color: #6583e5;
    color: #ffffff;
    border: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}